.chat_main_contents-message{ "data-message-id": message.id}
  .chat_main_contents-message-detail
    .chat_main_contents-message-detail-user-name
      = message.user.name
    .chat_main_contents-message-detail-date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat_main_contents-message-body
    - if message.content.present?
      %p.chat_main_contents-message-body-text
        = message.content
    = image_tag message.image.url, class: 'chat_main_contents-message-body-image' if message.image.present?

    -# 後置%if
    -# なぜ%if
