.side_bar
  .side_bar__header
    .side_bar__header__username
      chikamori
    .side_bar__header__link
      = link_to "#", class: "side_bar__header__link__pencil" do
        %i.fa.fa-edit
      = link_to "#", class: "side_bar__header__link__cog" do
        %i.fa.fa-cog

  .side_bar__contents
    .side_bar__contents__groupname
      グループ名
    .side_bar__contents__message
      まだメッセージはありません
      