$navy: #253141;
$gray-blue: #2f3e51;
$white: #ffffff;
$off-white: #fafafa;
$light-gray: #dddddd;

$charcoal-gray: #333333;
$gray: #999999;
$middle-gray: #434A54;
$black: #000;
$sky-blue: #38aef0;






